finder-ui/Connected Services/UserLoginServiceReference/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.10.202.76/LoginProject/LoginProject/LoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.10.202.76/LoginProject/LoginProject/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.10.202.76/LoginProject/LoginProject/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LoginProject.Interface" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="ILoginService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CountActiveUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:CountActiveUsers" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CountActiveUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountActiveUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CountFlaggedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:CountFlaggedUsers" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CountFlaggedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountFlaggedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CountBlockedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:CountBlockedUsers" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CountBlockedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountBlockedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_AdminLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginService_AdminLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UnflagUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UnflagUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UnflagUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnflagUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CheckModerator_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckModerator" />
  </wsdl:message>
  <wsdl:message name="ILoginService_CheckModerator_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckModeratorResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ModeratorLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ModeratorLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ModeratorLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModeratorLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UpdateAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountInfo" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UpdateAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetFlaggedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlaggedUsers" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetFlaggedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlaggedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetBlockedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlockedUsers" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetBlockedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlockedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetModerators_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModerators" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetModerators_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModeratorsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetAdmins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmins" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetAdmins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetActiveUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsers" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetActiveUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_FlagUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FlagUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_FlagUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FlagUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_BlockUser_InputMessage">
    <wsdl:part name="parameters" element="tns:BlockUser" />
  </wsdl:message>
  <wsdl:message name="ILoginService_BlockUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:BlockUserResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_AssignModeratorRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignModeratorRole" />
  </wsdl:message>
  <wsdl:message name="ILoginService_AssignModeratorRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignModeratorRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_AssignUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignUserRole" />
  </wsdl:message>
  <wsdl:message name="ILoginService_AssignUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_EmailExist_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailExist" />
  </wsdl:message>
  <wsdl:message name="ILoginService_EmailExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailExistResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UsernameExist_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExist" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UsernameExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExistResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UserIdExist_InputMessage">
    <wsdl:part name="parameters" element="tns:UserIdExist" />
  </wsdl:message>
  <wsdl:message name="ILoginService_UserIdExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserIdExistResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetAdminByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminByUsername" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetAdminByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetAdminById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminById" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetAdminById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/IsAlive" message="tns:ILoginService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/IsAliveResponse" message="tns:ILoginService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountActiveUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/CountActiveUsers" message="tns:ILoginService_CountActiveUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/CountActiveUsersResponse" message="tns:ILoginService_CountActiveUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountFlaggedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/CountFlaggedUsers" message="tns:ILoginService_CountFlaggedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/CountFlaggedUsersResponse" message="tns:ILoginService_CountFlaggedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountBlockedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/CountBlockedUsers" message="tns:ILoginService_CountBlockedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/CountBlockedUsersResponse" message="tns:ILoginService_CountBlockedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/CreateUser" message="tns:ILoginService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/CreateUserResponse" message="tns:ILoginService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/UserLogin" message="tns:ILoginService_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/UserLoginResponse" message="tns:ILoginService_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/AdminLogin" message="tns:ILoginService_AdminLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/AdminLoginResponse" message="tns:ILoginService_AdminLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/DeleteUser" message="tns:ILoginService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/DeleteUserResponse" message="tns:ILoginService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnflagUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/UnflagUser" message="tns:ILoginService_UnflagUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/UnflagUserResponse" message="tns:ILoginService_UnflagUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/CheckUser" message="tns:ILoginService_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/CheckUserResponse" message="tns:ILoginService_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckModerator">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/CheckModerator" message="tns:ILoginService_CheckModerator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/CheckModeratorResponse" message="tns:ILoginService_CheckModerator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModeratorLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ModeratorLogin" message="tns:ILoginService_ModeratorLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ModeratorLoginResponse" message="tns:ILoginService_ModeratorLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetUserId" message="tns:ILoginService_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetUserIdResponse" message="tns:ILoginService_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetUserById" message="tns:ILoginService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetUserByIdResponse" message="tns:ILoginService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/UpdateAccountInfo" message="tns:ILoginService_UpdateAccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/UpdateAccountInfoResponse" message="tns:ILoginService_UpdateAccountInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlaggedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetFlaggedUsers" message="tns:ILoginService_GetFlaggedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetFlaggedUsersResponse" message="tns:ILoginService_GetFlaggedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlockedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetBlockedUsers" message="tns:ILoginService_GetBlockedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetBlockedUsersResponse" message="tns:ILoginService_GetBlockedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModerators">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetModerators" message="tns:ILoginService_GetModerators_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetModeratorsResponse" message="tns:ILoginService_GetModerators_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdmins">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetAdmins" message="tns:ILoginService_GetAdmins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetAdminsResponse" message="tns:ILoginService_GetAdmins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetActiveUsers" message="tns:ILoginService_GetActiveUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetActiveUsersResponse" message="tns:ILoginService_GetActiveUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FlagUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/FlagUser" message="tns:ILoginService_FlagUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/FlagUserResponse" message="tns:ILoginService_FlagUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BlockUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/BlockUser" message="tns:ILoginService_BlockUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/BlockUserResponse" message="tns:ILoginService_BlockUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignModeratorRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/AssignModeratorRole" message="tns:ILoginService_AssignModeratorRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/AssignModeratorRoleResponse" message="tns:ILoginService_AssignModeratorRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/AssignUserRole" message="tns:ILoginService_AssignUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/AssignUserRoleResponse" message="tns:ILoginService_AssignUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/EmailExist" message="tns:ILoginService_EmailExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/EmailExistResponse" message="tns:ILoginService_EmailExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsernameExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/UsernameExist" message="tns:ILoginService_UsernameExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/UsernameExistResponse" message="tns:ILoginService_UsernameExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserIdExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/UserIdExist" message="tns:ILoginService_UserIdExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/UserIdExistResponse" message="tns:ILoginService_UserIdExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetAdminByUsername" message="tns:ILoginService_GetAdminByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetAdminByUsernameResponse" message="tns:ILoginService_GetAdminByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetAdminById" message="tns:ILoginService_GetAdminById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetAdminByIdResponse" message="tns:ILoginService_GetAdminById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/ILoginService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountActiveUsers">
      <soap:operation soapAction="http://tempuri.org/ILoginService/CountActiveUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountFlaggedUsers">
      <soap:operation soapAction="http://tempuri.org/ILoginService/CountFlaggedUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountBlockedUsers">
      <soap:operation soapAction="http://tempuri.org/ILoginService/CountBlockedUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/ILoginService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginService/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginService/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/ILoginService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnflagUser">
      <soap:operation soapAction="http://tempuri.org/ILoginService/UnflagUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/ILoginService/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckModerator">
      <soap:operation soapAction="http://tempuri.org/ILoginService/CheckModerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModeratorLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginService/ModeratorLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountInfo">
      <soap:operation soapAction="http://tempuri.org/ILoginService/UpdateAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlaggedUsers">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetFlaggedUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlockedUsers">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetBlockedUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModerators">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetModerators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdmins">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetAdmins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetActiveUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlagUser">
      <soap:operation soapAction="http://tempuri.org/ILoginService/FlagUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BlockUser">
      <soap:operation soapAction="http://tempuri.org/ILoginService/BlockUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignModeratorRole">
      <soap:operation soapAction="http://tempuri.org/ILoginService/AssignModeratorRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignUserRole">
      <soap:operation soapAction="http://tempuri.org/ILoginService/AssignUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailExist">
      <soap:operation soapAction="http://tempuri.org/ILoginService/EmailExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExist">
      <soap:operation soapAction="http://tempuri.org/ILoginService/UsernameExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIdExist">
      <soap:operation soapAction="http://tempuri.org/ILoginService/UserIdExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminByUsername">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetAdminByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminById">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetAdminById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://193.10.202.76/LoginProject/LoginProject/LoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>