finder-ui/Connected Services/UserLoginServiceReference/LoginService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LoginProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LoginProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Roles">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Roles" nillable="true" type="tns:Roles" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlockedUsers" nillable="true" type="tns:ArrayOfBlockedUsers" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlaggedUsers" nillable="true" type="tns:ArrayOfFlaggedUsers" />
      <xs:element minOccurs="0" name="FlaggedUsers1" nillable="true" type="tns:ArrayOfFlaggedUsers" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:Roles" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="ArrayOfBlockedUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlockedUsers" nillable="true" type="tns:BlockedUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlockedUsers" nillable="true" type="tns:ArrayOfBlockedUsers" />
  <xs:complexType name="BlockedUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" nillable="true" type="tns:Admin" />
      <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuspendedBy" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlockedUsers" nillable="true" type="tns:BlockedUsers" />
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlockedUsers" nillable="true" type="tns:ArrayOfBlockedUsers" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="ArrayOfFlaggedUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlaggedUsers" nillable="true" type="tns:FlaggedUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlaggedUsers" nillable="true" type="tns:ArrayOfFlaggedUsers" />
  <xs:complexType name="FlaggedUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlaggedBy" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:Users" />
      <xs:element minOccurs="0" name="Users1" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlaggedUsers" nillable="true" type="tns:FlaggedUsers" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>