finder-ui/Connected Services/UserProfileServiceReference/UserProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.10.202.81/UserProfileService/UserProfileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.10.202.81/UserProfileService/UserProfileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.10.202.81/UserProfileService/UserProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TSB100UserProfileService.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserProfileService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_DeleteUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_DeleteUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UserIdExistsInProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UserIdExistsInProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UserIdExistsInProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserIdExistsInProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_EmailExistsInProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailExistsInProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_EmailExistsInProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailExistsInProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UserNameExistsInProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UserNameExistsInProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UserNameExistsInProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserNameExistsInProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetUserByUserNameOrEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserNameOrEmail" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetUserByUserNameOrEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserNameOrEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetUserByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserId" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetUserByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetLatestLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestLog" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetLatestLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestLogResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserProfileService">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/CreateUser" message="tns:IUserProfileService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/CreateUserResponse" message="tns:IUserProfileService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/UpdateUser" message="tns:IUserProfileService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/UpdateUserResponse" message="tns:IUserProfileService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/DeleteUserProfile" message="tns:IUserProfileService_DeleteUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/DeleteUserProfileResponse" message="tns:IUserProfileService_DeleteUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/DeleteUser" message="tns:IUserProfileService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/DeleteUserResponse" message="tns:IUserProfileService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserIdExistsInProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/UserIdExistsInProfile" message="tns:IUserProfileService_UserIdExistsInProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/UserIdExistsInProfileResponse" message="tns:IUserProfileService_UserIdExistsInProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailExistsInProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/EmailExistsInProfile" message="tns:IUserProfileService_EmailExistsInProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/EmailExistsInProfileResponse" message="tns:IUserProfileService_EmailExistsInProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserNameExistsInProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/UserNameExistsInProfile" message="tns:IUserProfileService_UserNameExistsInProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/UserNameExistsInProfileResponse" message="tns:IUserProfileService_UserNameExistsInProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetAllUsers" message="tns:IUserProfileService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetAllUsersResponse" message="tns:IUserProfileService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserNameOrEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetUserByUserNameOrEmail" message="tns:IUserProfileService_GetUserByUserNameOrEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetUserByUserNameOrEmailResponse" message="tns:IUserProfileService_GetUserByUserNameOrEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetUserByUserId" message="tns:IUserProfileService_GetUserByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetUserByUserIdResponse" message="tns:IUserProfileService_GetUserByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetLatestLog" message="tns:IUserProfileService_GetLatestLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetLatestLogResponse" message="tns:IUserProfileService_GetLatestLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/IsAlive" message="tns:IUserProfileService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/IsAliveResponse" message="tns:IUserProfileService_IsAlive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserProfileService" type="tns:IUserProfileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserProfile">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/DeleteUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIdExistsInProfile">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/UserIdExistsInProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailExistsInProfile">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/EmailExistsInProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNameExistsInProfile">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/UserNameExistsInProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserNameOrEmail">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/GetUserByUserNameOrEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserId">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/GetUserByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestLog">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/GetLatestLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/IUserProfileService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfileService">
    <wsdl:port name="BasicHttpBinding_IUserProfileService" binding="tns:BasicHttpBinding_IUserProfileService">
      <soap:address location="http://193.10.202.81/UserProfileService/UserProfileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>