MessageAdminProject/Connected Services/MeddelandeServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessageService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessageService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMessageinfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Messageinfo" nillable="true" type="tns:Messageinfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageinfo" nillable="true" type="tns:ArrayOfMessageinfo" />
  <xs:complexType name="Messageinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecievingUserId" type="xs:int" />
      <xs:element minOccurs="0" name="SendingUserId" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserPicture" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Messageinfo" nillable="true" type="tns:Messageinfo" />
  <xs:complexType name="AddMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecievingUserId" type="xs:int" />
      <xs:element minOccurs="0" name="SendingUserId" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserPicture" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddMessage" nillable="true" type="tns:AddMessage" />
</xs:schema>