finder-ui/Connected Services/Group3ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.10.202.78/Annons/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.10.202.78/Annons/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.10.202.78/Annons/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnnonsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AdvancedSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:AdvancedSearch" />
  </wsdl:message>
  <wsdl:message name="IService1_AdvancedSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdvancedSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadServices_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadServices" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IService1_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllServiceData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServiceData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllServiceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServiceDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetServiceById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetServiceById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllContractData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContractData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllContractData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContractDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateService_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateService" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateService_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditService_InputMessage">
    <wsdl:part name="parameters" element="tns:EditService" />
  </wsdl:message>
  <wsdl:message name="IService1_EditService_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteService_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteService" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteService_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AdvancedSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AdvancedSearch" message="tns:IService1_AdvancedSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AdvancedSearchResponse" message="tns:IService1_AdvancedSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadServices" message="tns:IService1_LoadServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadServicesResponse" message="tns:IService1_LoadServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Search" message="tns:IService1_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchResponse" message="tns:IService1_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllServiceData" message="tns:IService1_GetAllServiceData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllServiceDataResponse" message="tns:IService1_GetAllServiceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetServiceById" message="tns:IService1_GetServiceById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetServiceByIdResponse" message="tns:IService1_GetServiceById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContractData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllContractData" message="tns:IService1_GetAllContractData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllContractDataResponse" message="tns:IService1_GetAllContractData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateService" message="tns:IService1_CreateService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateServiceResponse" message="tns:IService1_CreateService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditService" message="tns:IService1_EditService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditServiceResponse" message="tns:IService1_EditService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteService" message="tns:IService1_DeleteService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteServiceResponse" message="tns:IService1_DeleteService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#WSHttpBinding_IService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdvancedSearch">
      <soap12:operation soapAction="http://tempuri.org/IService1/AdvancedSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadServices">
      <soap12:operation soapAction="http://tempuri.org/IService1/LoadServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/IService1/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceData">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetAllServiceData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceById">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetServiceById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContractData">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetAllContractData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateService">
      <soap12:operation soapAction="http://tempuri.org/IService1/CreateService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditService">
      <soap12:operation soapAction="http://tempuri.org/IService1/EditService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <soap12:operation soapAction="http://tempuri.org/IService1/DeleteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="WSHttpBinding_IService1" binding="tns:WSHttpBinding_IService1">
      <soap12:address location="http://193.10.202.78/Annons/Service1.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://193.10.202.78/Annons/Service1.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>